.calculator {
    font-family: "Orbitron", sans-serif;
    background-color: #e3e3e3;
    height: 100vh;
    display: grid;
    grid-template-rows: 4% 22% 74%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.calculator__display {
    display: grid;
    grid-template-rows: 45% 55%;
}

.prev__display {
    font-size: 3.5vh;
}

.current__display {
    font-size: 5.8vh;
}

.prev__display, .current__display {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
